<div class="loginWrapper">
  <!-- Login Wrapper Start -->
  <div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="col-md-5 logincontent">
          <div class="innerSection text-center ">
              <div class="loginHeader pt-4 pb-5">
                  <img src="assets/images/dummy-logo.png"> 
                  <h5 class="py-4">Enjoy Free HD Video Calls</h5>
              </div>
              <div class="loginBody py-5 px-5">
                  <a  routerLink="/auth/signup" class="btn btn-blue btn-block mb-4">SIGN UP</a>
                  <a routerLink="/auth/login" class="btn btn-blue btn-block ">SIGN IN</a>
              </div>
              <div class="loginFooter py-3">
                  <p>Login With Your <a href="javascript:void(0)">E-mail</a></p>
              </div>
          </div>
      </div>
    </div>
  </div>
</div> <!-- Login Wrapper End -->