@import "../../../style/variable.scss";
.authWrapper {
  background-image: url("/assets/images/web-app-background.jpg");
  height: 100vh;
  background-size: cover;
  .innerSection {
    background-color: #f9f9f9;
  }
  .authHeader {
    img {
      max-height: 80px;
    }
    background-image: url("/assets/images/curve-shape1.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center bottom;
  }
  .authBody {
    .input1 {
      background-image: url("/assets/images/envelope-icon.png");
    }

    .input2 {
      background-image: url("/assets/images/password.png");
    }
    input {
      background-color: #F7F6FA;
      border: none;
      padding: 12px 10px 12px 40px;
      height: auto;
      font-family: $p-Regular;
      letter-spacing: 1px;
      font-size: 14px;
      background-position: 10px 50%;
      background-size: 20px;
      background-repeat: no-repeat;
      box-shadow: 0px 0px 4px -2px rgba(0,0,0,0.3);
    }
    p {
      a {
        color: $themeColor;
        font-size: $font-14;
      }
    }
    button {
      border-radius: 25px;
      padding: 10px 50px;
      font-family: $p-medium;
      letter-spacing: 1px;
      background-image: $gd-img;
      color: #fff;
    }
  }
  .authFooter {
    p {
      margin-bottom: 0;
      color: $light-g;
      font-size: $font-14;
      a {
        color: $themeColor;
        text-decoration: none;
      }
    }
  }
}
