<div class="authWrapper">
  <!-- Login Wrapper Start -->
  <div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="col-md-9 col-lg-9 logincontent">
        <div class="innerSection text-center ">
          <div class="authHeader pt-4 pb-4">
            <a routerLink="/auth/login"><img src="assets/images/password-icon.png"></a>
            <h4 class="pt-4">Create New Password</h4>
            <p>Please enter the OTP number that<br/>has been sent to your e/mail</p>
          </div>
          <div class="authBody pt-2 tb-3 px-5 pb-5">
            <form class="form-data">
              <div class="form-group pb-2"><!-- OTP field -->
                <input type="text" class="form-control input1" placeholder="enter OTP">
              </div>
              <div class="form-group pb-2"> <!-- New Password -->
                <input type="password" class="form-control input2" placeholder="enter new password">
              </div>
              <div class="form-group pb-2"> <!-- Confirm Password -->
                <input type="password" class="form-control input2" placeholder="re-enter new password">
              </div>
              <button type="submit" routerLink="/auth/login" class="btn">RESET PASSWORD</button> <!-- SUbmit BUtton-->
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> <!-- Login Wrapper End -->