@import "../../../style/variable.scss";

.welcome {
  h2 {
    font-family: $p-bold;
    color: $themeColor;
    letter-spacing: 2px;
  }
  img {
    max-height: 140px;
  }
  h6 {
    color: #8c1d7b;
    font-family: $p-Regular;
    i {
    }
  }
  button {
    background-image: $gd-img;
    color: $white;
    padding: 8px 40px;
    border-radius: 20px;
    border: none;
    font-family: $p-medium;
    letter-spacing: 1px;
    font-size: 17px;
  }
  p {
    color: rgba(0, 0, 0, 0.5);
  }
}
