@import '../../../style/variable.scss';

.detail{
    .detailHeader{
        background-image: $gd-img;
        .icons{
            img{
                width:40px;
                margin-top:10px;
            }
        }
        .user{
            img{
                max-height: 110px;
            }
        }
    }
    .detailbody{
        h5{
            color:#4e4e4e;
            font-family: $p-semiBold;
            margin-bottom: 5px;
        }
        p{
            color:rgba(0, 0, 0, 0.4);
            font-family: $p-medium;
            font-size: 14px;
        }
        ul{
            list-style-type:none;
            padding-left: 0;
            li{
                padding:20px;
                box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.2);
                font-family: $p-medium;
                margin-bottom: 15px;
                a{
                    color:rgba(0, 0, 0, 0.4);
                    img{
                        width:24px;
                        margin-right: 10px;
                    }
                    span{
                        color:#FF3244;
                    }
                }
                a:hover{
                    text-decoration: none;
                }
            }
        }
    }
}