<div class="detail">
  <div class="detailHeader pt-2 pb-1 mb-3">
    <div class="row"> <!-- Detail Header -->
      <div class="col-md-3 col-sm-3 icons">
        <a class="pl-3 pt-4" href="javascript:void(0)"><img src="/assets/images/cross.png" /></a>
      </div>
      <div class="col-md-6 col-sm-6 text-center user">
        <img src="/assets/images/user-img.png"/>
      </div>
      <div class="col-md-3 col-sm-3 icons text-right">
        <a class="pt-4 pr-3" href="javascript:void(0)"><img src="/assets/images/setting.png" /></a>
      </div>
    </div>
  </div>
  <div class="detailbody px-5">
      <h5 class="text-center">Jackline</h5>
      <p class="text-center">Last Seen 15 min ago</p>
      <ul class="pt-5"> <!-- User Action Buttons -->
        <li><a href="javascript:void(0)"><img src="/assets/images/start-call.png"/>Start Call</a></li>
        <li><a href="javascript:void(0)"><img src="/assets/images/video-icon.png"/>Start Video Call</a></li>
        <li><a href="javascript:void(0)"><span>Block Contact</span></a></li>
      </ul>
  </div>
</div>