<div class="authWrapper">
  <!-- Login Wrapper Start -->
  <div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="col-md-5 logincontent">
        <div class="innerSection text-center ">
          <div class="authHeader pt-5 pb-5">
            <img src="assets/images/wa-logo-with-shadow.png">
          </div>
          <div class="authBody pt-3 tb-3 px-5 pb-5">
            <h4 class="pt-4">Forgot Your Password ?</h4>
            <p>Please enter your e-mail & we will sent <br /> an OTP number</p>
            <form class="form-data pt-4" [formGroup]="forgotForm" (ngSubmit)="onSubmit(forgotForm)">
              <div class="form-group pb-3">
                <input type="email" class="form-control input1" FormControlName="email" placeholder="registered e-mail address">
              </div>
              <button [disabled]="!forgotForm.valid" type="submit" routerLink="/auth/change-password" class="btn">SEND</button>
            </form>
          </div> 
        </div>
      </div>
    </div>
  </div>
</div> <!-- Login Wrapper End -->